body {
  background-color: #010008;
}

html {
  height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: auto;
}

#username-form,
#title {
  height: 100%;
  display: grid;
  place-items: center;
}

.music-title {
  text-align: center;
  color: azure;
}

#original-lyrics,
.divLoggout {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  align-items: center;
}

#original-lyrics p {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  color: antiquewhite;
}

label,
input,
.button {
  margin-bottom: 10px;
}

.origin-lyric {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 1000;
  font-size: 17px;
  line-height: 1.5;
  color: white;
  margin: 10px 0;
}

.pt-lyric {
  margin: 10px 0;
  font-size: 16px !important;
}

.pt-lyric,
label {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #CCCCCC;
}

#title {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #CCCCCC;
}

#loggout-btn,
#toggle-translation-btn,
#update-song-btn,
#get-song {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #333333;
  border: 2px solid #666666;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

#loggout-btn:hover,
#toggle-translation-btn:hover,
#update-song-btn:hover,
#get-song:hover {
  background-color: #555555;
}

#wordcloud,
#playcount {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #be0505;
  border: 2px solid red;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

#wordcloud:hover,
#playcount:hover {
  background-color: red;

}

#btn-tweets {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #03619c;
  border: 2px solid #00436d;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

#btn-tweets:hover {
  background-color: #1DA1F2;
}